.contentlink {
 text-decoration: none;
 text-decoration-line: none;
 color: black;
}
a:hover{
    color: black;
    text-decoration: none;
    text-align-last: auto;
}

.card{
    padding: 5px;
width: 300px;

}

p .card-text{
    scolor: gray;
}
#form{
    align-items: center;
}

